#Build system artifacts
bin/
obj/
/packages/
publish/

#Visual Studio files
*.pidb
*.userprefs
*.[Oo]bj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
.vs

#IntelliJ/Rider files
riderModule.iml
/_ReSharper.Caches/
.idea/

#OS junk files
[Tt]humbs.db
*.DS_Store

#Blender autosave files
*.blend1

# Hacky workaround to commit built content (*.xnb) - macOS environment can't build content yet
#!SheepInc.Core/Content/bin/
